/*  $enable-grid-classes:false;
$primary:#FF304F;
$secondary:#CACACA;
$success:#015668;
$danger:#06648C;
$info:#0F81C7;
$warning:#0DE2EA;
$light:#ececec;
$dark:#222222;*/


@import url(https://use.fontawesome.com/releases/v5.3.1/css/all.css);
@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6{
 font-family: "Raleway";
}

html {
  scroll-behavior: smooth;
}

section:before {
  height: 54px;
  content: "";
  display:block;
}

.navbar {line-height:20px;}
.nav-link {margin-right: 1em !important}
.navbar-toggler {border-width: 0px}

.summary{
  background-color: #015668; 
  color: white;
  padding-top: 30px; 
  padding-bottom: 30px;
}

.summary span{
  display:block;
}

.summary .icon{
  font-size: 2rem;
  color:white;
}

.summary .icon:hover {
  transform: scale(1.2);
}

.summary ul.social_medias{ 
   padding: 0px;
   padding-top: .5em;
}

.summary .social_medias li{
   display: inline-block;
   width: auto;
   list-style: outside none none;
}

@media (min-width:992px){
.summary .bio{
 padding: 1em;
 border-left:4px solid #10828C;
}}

@media (max-width:992px){
.summary .bio{
 padding: 1em;
 border-top:4px solid #10828C;
}}

.publications{
  background-color:#ececec; 
  padding-bottom: 54px;
}

.publications .title{
  padding-bottom: .5em;
}

.cvs{
  color: white;
  background-color:#066943; 
  padding-bottom: 54px;
}

.cvs .title{
  padding-bottom: 1em;
}

.cvs .blur{
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.cvs .card{
 color:black;
}
